{
  "extends": "openlayers",
  "globals": {
    Promise: false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": module
  },
  "rules": {
      "space-infix-ops": "off",
      "object-curly-spacing": "off",
      "array-bracket-spacing": "off",
      }
}
